.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    padding-left: .5rem;
    color: #6c757d;
    content: "|";
}

.container-detail {
    position: relative;
}

.button-border {
    border-radius: 1000rem;
}

.nav-detail a.active{
    background-color: #28a745;
    color: white!important;
}
.img-slide {
    width: 50%;
    height: 150px;
}
.color .svg-inline--fa {
    font-size: 1.5rem;
   margin-right: 8px;
}
/* Hide the images by default */

.contact .svg-inline--fa {
    color: gray;
    font-size: 1.5rem;
    margin-right: 8px;
}

.mySlides {
    display: none;
    margin-bottom: 50px;
}

.mySlides img {
    width: 100%;
    height: 500px;
}


/* Add a pointer when hovering over the thumbnail images */

.cursor {
    cursor: pointer;
}


/* Next & previous buttons */

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 40%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}


/* Position the "next button" to the right */

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}


/* On hover, add a black background color with a little bit see-through */

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


/* Number text (1/3 etc) */

.numbertext {
    color: black;
    font-size: 1.5rem;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Six columns side by side */

.column {
    float: left;
    margin-right: 20px;
    width: 16.66%;
}


/* Add a transparency effect for thumnbail images */

.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}